<div class="container">
    <div class="row " style="margin-bottom: 2rem; margin-top: 10rem;">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-warning btn-block animate__animated animate__rubberBand  ">
                Instruciones
            </button>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-success btn-block  animate__animated animate__rubberBand " [routerLink]="['/iniciar-sesion']"
            >Iniciar sesion
        </button>
        </div>
    </div>


</div>