<mat-toolbar class="navar-color">
  <a mat-button class="text-white" [routerLink]="[('/login')]">
    <h3>
      LIBRERIA CADIW
    </h3>

  </a>


  <div class="spacer"></div>
  <a mat-button (click)="libro()" class="text-white">
    VER LISTA DE LIBROS
  </a>

  <a mat-button class="text-white" (click)="alqilados()">
    VER LISTA DE LIBROS ALQUILADO
  </a>
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <a mat-button id="dropdownForm1" ngbDropdownToggle><img src=".\assets\img\user-icon-32.png" alt=""></a>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
          <form class="px-4 py-3">
           <div class="form-group">
              <label>Registrado como</label>
              <a>{{NOMUSER}}</a>
            </div>
            <div class="form-group">
              <label>Perfil</label>
            </div>
            <div class="form-group">
              <button class="btn btn-sucess "[routerLink]="['/perfil-usuario']" >TU Perfil</button>
            </div>
            <button class="btn btn-primary" [routerLink]="['/login']">Cerrar sesion</button>
          </form>
        
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>

<div class="container-style"*ngIf="carrusel">
  <div class="row  b-block justify-content-center">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
         <img src="https://image.freepik.com/vector-gratis/libros-coloridos-paquete_23-2147523336.jpg" alt="">
        </div>
        <div class="carousel-caption">
          <h3 class="text-dark">TODOS LOS LIBROS</h3>
       
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
        <img src="https://image.freepik.com/psd-gratis/plantilla-maqueta-portada-libro_68185-415.jpg" alt="">
        </div>
        <div class="carousel-caption">
          <h3 class="text-dark">ENCUENTRA LO QUE BUSCAS</h3>
          
        </div>
       
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
        <img src="https://image.freepik.com/vector-gratis/fondo-dia-mundial-libro-dibujado-mano_23-2148472565.jpg" alt="">
        </div>
        <div class="carousel-caption">
          <h3 class="text-dark">NOVELAS Y MAS</h3>
  
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
        <img src="https://image.freepik.com/foto-gratis/reservar-sala-biblioteca_36325-102.jpg" alt="">
        </div>
        <div class="carousel-caption">
          <h3></h3>
        
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  
</div>


<div class="container my-5 b-block justify-content-center" *ngIf="libros">

  <app-libro>

  </app-libro>
</div>

<div class="container  my-5 b-block justify-content-center" *ngIf="alquilados">

</div>