<div class="container" style="margin-bottom: 2rem; margin-top: 10rem;">
   <div class="row">

   </div>
    <p-card header="" [style]="{width: '500px'}"  class="d-flex justify-content-center">
        <div class="row " >
            <div class="col-md-12  col-sm-12">
              <label for="inputEmail4">USUARIO</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
           
          </div>
          <div class="row">

            <div class="col-md-12  col-sm-12">
                <label for="inputPassword4">CONTRASEÑA</label>
                <input type="password" class="form-control" id="inputPassword4">
              </div>
          </div>
          <button pButton type="button" label="" class="ui-button-rounded btn-block">INGRESAR</button>
</p-card>
</div>

