<div class="container justify-content-center mt-5 ">
    <form>
        <div class="form-row">
            <div class="col"> 
                <label >Nombre</label>
              <input type="text" class="form-control" placeholder="Nombre">
            </div>
            <div class="col">
                <label >Apellido</label>
              <input type="text" class="form-control" placeholder="Apellido">
            </div>
          </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label >Email</label>
            <input type="email" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label>Cedula</label>
            <input type="number" class="form-control" >
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Direcion</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label >Carrera</label>
            <select  class="form-control">
              <option selected>Seleccione</option>
              <option>...</option>
            </select>
              </div>
        </div>
        
        <div class="form-row">
          <div class="form-group col-md-6">
            <label >Usuario</label>
            <input type="text" class="form-control" >
          </div>
          <div class="form-group col-md-6">
            <label for="inputZip">Contraseña</label>
            <input type="password" class="form-control">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputZip">Edad</label>
                <input type="number" class="form-control">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
      </form>
</div>
