<div class="container">
  <div class="row justify-conten-center">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <button
      pButton
      type="button "
      label="Registro"
      class="ui-button-rounded ui-button-primaty"
      btn-block
      ></button>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <button pButton
      type="button"
      label="Login"
      class="ui-button-rounded ui-button-success"
      [routerLink]="['/login']"
      ></button>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

